body{
    padding: 0;
}

ul{
    margin: 0 !important;
}

.bg-1{
    background-color: #2c3e50;
}

.bg-2{
    background-color: #1abc9c;
}

.col-2{
    color: #1abc9c;
}

.bg-3{
    background-color: #3a546d;
}

.bi-star-fill{
    font-size: 25px;
}

.m-hr{
    margin-top: 120px;
}

.line{
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
}

.img-fluid{
    border-radius: 20px !important;
}

.circle{
    width: 50px;
    height: 48px;
    color: white;
    font-size: 20px;
    padding-top: 12.5px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1abc9c !important;
    border-color: #1abc9c !important;
}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5) !important;
}

.bord{
    border: none !important;
    border-bottom: 2px solid black !important;
    border-radius: 0.0rem !important;
}

.abs{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    margin: 0 12px;
    opacity: 0;
}

.abs:hover{
    opacity: 0.7;
}

.rel{
    position: relative;
}

.bi-plus-lg{
    font-size: 150px;
    color: white;
}

.navbar-toggler{
    border-color: white !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.5) !important;
}

.navbar-toggler-icon{
    filter: invert(100%);
}